form.translations-pack-language-selector {
  display: none;
}

form .translations-tabs ul {
  display: flex;
  background-color: black;
  margin: 0;
}

form .translations-tabs .language-tab {
  text-align: center;
  color: #d0d0d0;
  font-weight: bold;
  cursor: pointer;
  list-style: none;
  margin: 0;
  padding: 0.3em 1em;
}

form .translations-tabs .language-tab a {
  color: #800;
}

form .translations-tabs .language-tab[data-state="off"] {
  text-decoration: line-through;
}

form .translations-tabs .has-error {
  color: #dc2323;
  font-weight: bold;
}

form .translations-tabs .language-tab.active {
  background-color: #333;
}

.translation-pack > .form-wrapper {
  display: none;
}
.translation-pack > .form-wrapper.active {
  display: block;
}

.vertical-tabs__menu-item.has-error .vertical-tabs__menu-link {
  background-color: red;
}

.translation-pack.form-actions a[data-lang-pack] {
  display: none;
}
.translation-pack.form-actions > a[data-lang-pack].active {
  display: inline;
}
